@{
    ViewData["Title"] = "Home Page";
    var categories = ViewBag.categories;
    var productImage = ViewBag.ProductImage;
}
<div id="navigation">
    <div id="logo">
        <p class="textLogo">Grocery<br><span class="textLogo2">Store</span></p>
    </div>
    <div id="navList">
        <ul>
            <li><a href="#">Events</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Best Deals</a></li>
            <li><a href="#">Services</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>




<div class="row">
    <div class="side">
        @{
            foreach (var item in categories)
            {
                <button class="getProduct" type="button" value="@item.CategoryId">@item.Description</button> <br>
            }
        }
    </div>

    <div class="main">
        <div id="flex-container">

        </div>
    </div>

</div>
<div id="popup_bg">
    <div id="popup_main_div">
        <div id="popup_close_div">
            <p>X</p>
        </div>
        <div id="main_data">

        </div>
        <div id="popup_footer">

        </div>
    </div>
</div>













@section scripts{
    <script>
        $(document).ready(function () {
            $('.getProduct').on('click', function () {
                var j = $(this).val();
                var link = "/GetData/CategoryProducts/" + j;
                $.ajax({
                    url: link,
                    type: "GET",
                    cache: false,
                    dataType: "JSON",
                    contentType: "application/x-www-form-urlencoded",
                    success: function (data) {
                        //console.log(data);
                        var s = '';
                        $('#flex-container').html(" ");
                        for (i = 0; i < data.length; i++) {
                            var pid = data[i].productId;
                            s += '<div style= "background-image:url(../images/' + data[i].imageFileName + '); background-size:cover; background-repeat: no-repeat; background-position: 50% 50%;">';
                            s += '<input class="productName" style="border: none; background-color: transparent; text-align: center;" value="' + data[i].name + '" disabled/>';
                            s += 'Price: <input class="productPrice" style="border: none; background-color: transparent; text-align: center;" value="' + data[i].price + '"BDT disabled/>';
                            s += '<input class="productUom" style="border: none; background-color: transparent; text-align: center;" value="' + data[i].uom + '" disabled/>';
                            s += 'Quantity: <input class="productQuantity" style="text-align: center;" type="text" id="productQuantity' + pid + '" />'
                            s += '<button>View product details</button>';
                            s += '<button id="addToCartBtn" data-name="' + data[i].name + '" data-price="' + data[i].price + ' "data-uom="' + data[i].uom + '"  data-id="' + pid + '">Add to cart</button>';
                            s += '</div>';
                        }
                        $('#flex-container').append(s);

                    },
                    error: function () {
                        $('#flex-container').html('No data');
                    }

                });

            });


            $(document).on('click', '#addToCartBtn', function () {
                var productId = $(this).data('id');
                var productName = $(this).data('name');
                var productPrice = $(this).data('price');
                var productUom = $(this).data('uom');
                var quantity = $('#productQuantity' + productId).val();
                var totalPrice = productPrice * quantity;
                if (quantity <= 0) {
                    alert("must define Quantity..")

                } else {
                    var item = {
                        id: productId,
                        name: productName,
                        price: productPrice,
                        uom: productUom,
                        quantity: quantity,
                        totalPrice: totalPrice
                    };

                    var item_string = JSON.stringify(item);

                    if (localStorage.getItem(item.id) != null) {
                        localStorage.removeItem(item.id);
                        localStorage.setItem(item.id, item_string);

                    } else {
                        localStorage.setItem(item.id, item_string);

                    }

                }

            });


            $(document).ready(function () {

                $(document).on('click', '.viewCartBtn', function () {
                    $('#popup_bg').css("display", "block");
                    $('#popup_close_div').on('click', function () {
                        $('#popup_bg').css("display", "none");
                    });
                    var arrayItems = new Array();
                    for (var i = 0; i < localStorage.length; i++) {
                        arrayItems[i] = JSON.parse(localStorage.getItem(localStorage.key(i)));
                    }
                    var x = " ";
                    var s = " ";
                    var totalPrice = 0;
                    $('#main_data').html(" ");
                    s += '<ul>';
                    for (var i = 0; i < arrayItems.length; i++) {
                        s += '<button class="delete_item_to_cart" data-itemId="' + arrayItems[i].id + '">Delete Item From Cart</button>';
                        s += '<li><div><p>' + arrayItems[i].name + '</br>Total Price : ' + arrayItems[i].totalPrice + ' | Quantity : ' + arrayItems[i].quantity + '</p></div>';
                        s += '</li>'
                        totalPrice += parseInt(arrayItems[i].totalPrice);
                    }

                    s += '</ul>';
                    $('#main_data').append(s);

                    $('#popup_footer').html(" ");
                    x += 'Total Price = ' + totalPrice;
                    $('#popup_footer').append(x);
                });

                $(document).on('click', ".delete_item_to_cart", function () {
                    var delete_Id = $(this).data();
                    var id = delete_Id.itemid;

                    localStorage.removeItem(id);

                    var arrayItems = new Array();
                    for (var i = 0; i < localStorage.length; i++) {
                        arrayItems[i] = JSON.parse(localStorage.getItem(localStorage.key(i)));
                    }
                    console.log(arrayItems);


                    var x = " ";
                    var s = " ";
                    var totalPrice = 0;
                    $('#main_data').html(" ");
                    s += '<ul>';
                    for (var i = 0; i < arrayItems.length; i++) {
                        s += '<button class="delete_item_to_cart" data-itemId="' + arrayItems[i].id + '">Delete Item From Cart</button>';
                        s += '<li><div><p>' + arrayItems[i].name + '</br>Total Price : ' + arrayItems[i].totalPrice + ' | Quantity : ' + arrayItems[i].quantity + '</p></div>';
                        s += '</li>'
                        totalPrice += parseInt(arrayItems[i].totalPrice);
                    }

                    s += '</ul>';
                    $('#main_data').append(s);

                    $('#popup_footer').html(" ");
                    x += 'Total Price = ' + totalPrice;
                    $('#popup_footer').append(x);
                });

            });

        });
    </script>
}

